.btn {
  font-family: $btn-font;
  font-weight: $btn-font-weight;
  display: table;
  padding: $btn-padding;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  border-radius: $btn-border-radius;
  border: $btn-border;

  &:hover,
  &:focus {
    outline: none;
  }

  &-xs {
    padding: $btn-xs-padding;
    font-size: $btn-xs-font-size;
  }

  &-lg {
    padding: $btn-lg-padding;
    font-size: $btn-lg-font-size;
  }

  &-primary {
    background: $btn-primary-background;
    color: $btn-primary-color;

    &:hover,
    &:focus {
      background: darken($btn-primary-background, 10);
    }
  }

  &-secondary {
    background: $btn-secondary-background;
    color: $btn-secondary-color;

    &:hover,
    &:focus {
      background: darken($btn-secondary-background, 10);
    }
  }

  &-grey {
    background: $btn-grey-background;
    color: $btn-grey-color;

    &:hover,
    &:focus {
      background: darken($btn-grey-background, 10);
    }
  }
}